/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Quicksand:wght@300..700&display=swap");

/* CSS variables */

:root {
    --heading-font: "Limelight", sans-serif;
    --body-font: "Quicksand", serif;
    --primary-color: #567a79;
    --primary-color-light: #739c9c;
    --secondary-color: #504746;
    --contrast-color: #ffffff;
    --header-height: 500px;
    --topnav-height: 72px;
    --bold: 700;
    --lightgrey: #d3d3d3;
}

/* Global styles */

body {
    font-family: var(--body-font);
    font-size: 1.125rem;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

.btn.custom-btn {
    background-color: var(--primary-color);
    color: var(--contrast-color);
    font-weight: var(--bold);
    padding: 1rem 2rem;
    margin-top: 1rem;
    border: 1px solid var(--contrast-color);
}

.btn.custom-btn:hover {
    background-color: var(--primary-color-light);
}

.btn.custom-btn:active {
    color: var(--contrast-color);
}

.underline {
    border-bottom: double var(--secondary-color);
}

.text-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.bold {
    font-weight: var(--bold);
}

/* Navigation styles */

#topnav-logo {
    font-size: 1.25rem;
}

#topnav {
    background-color: var(--primary-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px 0 #333333;
}

#topnav .navbar-brand {
    color: var(--contrast-color);
    font-family: var(--heading-font);
}

#topnav .nav-link {
    color: var(--contrast-color);
}

/* Header styles */

#page-header {
    background: url(../images/random-old-books.jpg) no-repeat center
        center/cover;
    padding-top: var(--topnav-height);
}

#subscription-box-header {
    background: url(../images/subscription-box.jpg) no-repeat center
        center/cover;
}

#events-header {
    background: url(../images/author-speaking-at-event.jpg) no-repeat center
        center/cover;
}

.section-header {
    height: var(--header-height);
    color: var(--contrast-color);
}

.header-text-box {
    background-color: var(--primary-color);
    padding: 3rem 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 2px 0 #333333;
}

.header-heading {
    font-size: 2rem;
}

/* Main styles */

.custom-card {
    box-shadow: 3px 3px 3px 1px var(--lightgrey);
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.custom-card-title {
    font-size: 1.25rem;
}

.heading-icon {
    margin-right: 1rem;
    color: var(--primary-color);
}

/* Events List styles */

.custom-table {
    border: 1px solid var(--lightgrey);
    box-shadow: 3px 3px 3px 1px var(--lightgrey);
}

/* Subscription Box styles */

#subscription-box-details i {
    margin-right: 0.5rem;
    color: var(--primary-color);
}

.sub-heading {
    margin-top: 2rem;
    text-align: center;
}

/* Form Success styles */

#thank-you {
    margin-top: var(--topnav-height);
    height: var(--header-height);
}

/* Footer styles */

#contact-details {
    background-color: var(--secondary-color);
    color: var(--contrast-color);
}

#contact-details a {
    color: var(--contrast-color);
}

#contact-details .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#contact-details h3 {
    margin-top: 2rem;
}

#location i {
    margin-right: 0.5rem;
}

#socials i {
    margin: 2rem 1rem 0 1rem;
    font-size: 1.5rem;
}

#socials i:hover {
    color: var(--primary-color-light);
}

@media screen and (min-width: 768px) {
    #hero-text {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media screen and (min-width: 992px) {
    #topnav-logo {
        font-size: 1.5rem;
    }

    .header-heading {
        font-size: 2.5rem;
    }

    .custom-card {
        min-height: 14.25rem;
    }
}

@media screen and (min-width: 1200px) {
    .custom-card {
        min-height: 12.5rem;
    }
}

@media screen and (min-width: 1400px) {
    .custom-card {
        min-height: 10.75rem;
    }
}
