/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Quicksand:wght@300..700&display=swap");

/* CSS variables */

:root {
    --heading-font: Limelight, sans-serif;
    --body-font: Quicksand, serif;
    --primary-color: #567a79;
    --secondary-color: #504746;
    --contrast-color: #e0dbd1;
}

/* Global styles */

body {
    font-family: var(--body-font);
}

h1 {
    font-family: var(--heading-font);
}

/* Navbar styles */
nav {
    background-color: var(--primary-color);
}

/* Test styles - DELETE BEFORE GOING LIVE! */
/* .container, .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightblue;
} */
