/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Quicksand:wght@300..700&display=swap");

/* CSS variables */

:root {
    --heading-font: Limelight, sans-serif;
    --body-font: Quicksand, serif;
    --primary-color: #567a79;
    --primary-color-transparent: rgba(86, 122, 121, 0.9);
    --secondary-color: #504746;
    --secondary-color-transparent: rgba(80, 71, 70, 0.9);
    --contrast-color: #FFFFFF;
}

/* Global styles */

body {
    font-family: var(--body-font);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

/* Navbar styles */
#topnav {
    background-color: var(--primary-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#topnav .navbar-brand {
    color: var(--contrast-color);
    font-family: var(--heading-font);
}

#topnav .nav-link {
    color: var(--contrast-color);
}

#topnav .nav-link.active {
    font-weight: bold;
}

/* Header styles */

header {
    background: url(../images/random-old-books-in-shop.jpg) no-repeat center center/cover;
}

header > div {
    height: 500px;
    color: var(--contrast-color);
}

header h1 {
    font-size: 2rem;
}

header p {
    font-weight: bold;
    /* font-size: 1.25rem; */
}

#hero {
    background-color: var(--primary-color-transparent);
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 30px;
}

/* Footer styles */

#contact-details {
    background-color: var(--secondary-color);
    color: var(--contrast-color);
}

#contact-details a {
    color: var(--contrast-color);
}

#contact-details .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#contact-details h3 {
    margin-top: 1rem;

}

#location i {
    margin-right: 0.5rem;
}

#socials i {
    margin: 2rem 1rem 0 1rem;
    font-size: 1.5rem;
}

/* Styles for testing - DELETE BEFORE GOING LIVE! */
/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightblue;
} */
